@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Roboto", serif;
}

.container {
    text-align: center;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools .icon {
    text-align: center;
    margin: 15px;
    padding: 6px 20px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 5px 10px #4d4c4c;
}

.icon img {
    width: 35px;
    margin: 10px;
}

.home-page1 {
    width: 800px;
    margin: auto;

}

.card {
    width: 700px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.email button {
    outline: none;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 4px 6px;
    border-radius: 3px;
}

.bullet {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    gap: 60px;
}

.card2 {
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: column;
}

.forum {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    width: 300px;
    padding: 20px 30px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    
}

.form-group {
    margin-bottom: 15px ;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input,textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:green}